<!DOCTYPE html>
<html>
  <head>
    <title>Greeting</title>
    <% yield -%>
  </head>
  <body>
    <% yield -%>
     
    <p>Welcome to Faqly!</p>
    <p> The easiest way to make beautiful FAQs for your service</p>
    <p> <%= link_to "Make your FAQ now!", '/users/registration/sign_up' %></p>
    <p>Already a member?</p>
    <p><%= link_to "Sign In", '/users/sign_in' %></p>
  </body>
</html>

